<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>view</key>
		<string>sun://collection</string>
		<key>imageName</key>
		<string>my_collection</string>
		<key>title</key>
		<string>myCollect</string>
	</dict>
	<dict>
		<key>view</key>
		<string>sun://address</string>
		<key>imageName</key>
		<string>delivery_address</string>
		<key>title</key>
		<string>goodsAddress</string>
	</dict>
	<dict>
		<key>view</key>
		<string>sun://suggest</string>
		<key>imageName</key>
		<string>feedback</string>
		<key>title</key>
		<string>feedBack</string>
	</dict>
	<dict>
		<key>view</key>
		<string>sun://changePwd</string>
		<key>imageName</key>
		<string>change_password</string>
		<key>title</key>
		<string>passwordChange</string>
	</dict>
	<dict>
		<key>view</key>
		<string>nil</string>
		<key>imageName</key>
		<string>logout</string>
		<key>title</key>
		<string>logoutAccount</string>
	</dict>
</array>
</plist>
